// Place all the styles related to the CICs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cics  {
   table  {
     border-collapse: collapse;
   }

   table tr td {
     padding: 5px;
     vertical-align: top;
   }

   .president_image {
      width:  60px;
      height: 70px;
   }
   
   .president_description {
      width: 60%;


      dl {
        margin: 0;
      }

      dt {
        color: #081472;
        font: bold larger 900;
      }


      dd  {
        margin-top: 0.5em;
        font-family: helvetica, sans-serif;
        color: #000000;
      }
    }

    .list_actions  {
      font-size:   x-small;
      text-align:  right;
      padding-left: 1em;
      background: 65A5D1; 
          color: #5fc0ce;
    }    

    .list_line_even {
      background: #65A5D1;
    }

    .list_line_odd  {
      background: #5fc0ce;
    }
}

#overall  {
     background: #fff;
     padding: 5px;
     border: 10px solid #081472;
     width: 960px;
     margin-left: 40px;

     img  {
        height: 400px;
        width:  400px;
        float: left;
        margin-right: 150px;
     }
    
     #map-position  {
         width:  400px;
         height: 400px;
    }

    #stats  {
        

    }

}






