// Place all the styles related to the CICs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cics  {
   table  {
     border-collapse: collapse;
   }

   table tr td {
     padding: 5px;
     vertical-align: top;
   }

   .president_image {
      width:  60px;
      height: 70px;
   }
   
   .president_description {
      width: 60%;


      dl {
        margin: 0;
      }

      dt {
        color: #081472;
        font-weight: bold;
        font-size:   larger;
      }


      dd  {
        margin: 0;
      }
    }

    .list_actions  {
      font-size:   x-small;
      text-align:  right;
      padding-left: 1em;
    }

    .list_line_even {
      background: #65A5D1;
    }

    .list_line_odd  {
      background: #5fc0ce;
    }
}

