
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


#notice {
  color: green;
}

.field_with_errors {
  color: red;
}

#error_explanation {
  width: 350px;
  border: 3px solid blue;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 20px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 8px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}